#content {
  margin: $h-header 0 $h-footer 0;
  padding: 20px 0;

  .intro {
    margin-bottom: 40px;
    padding: 20px 0;
    border-bottom: 2px solid rgba($c-green1, 0.15);
  }

  .entry {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba($c-green1, 0.15);
  }

  .summary {
    @media screen and (min-width: $bp-small) {
      text-align: right;
    }

    > .col {
      padding-left: 0;
      padding-right: 0;
    }

    strong {
      font-size: 1.125em;
    }
  }

  .logo {
    background: $c-body;
    box-shadow: 0 4px 8px 0 rgba($c-black, 0.15);
    color: $c-black;
    margin-bottom: 1em;
    padding: 40px 20px;
    text-align: center;
  }

  .closing {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 2px solid rgba($c-green1, 0.15);
  }
}
