#bottom {
  background-image: $c-gr-green;
  border-top: 1px solid $c-green1;
  bottom: 0;
  box-shadow: 0 4px 8px 0 rgba($c-black, 0.15);
  height: $h-footer;
  position: fixed;
  width: 100vw;

  .row {
    height: 100%;
  }

  .links {
    display: flex;
    flex-direction: column;
    font-size: 1.15rem;
    justify-content: center;
    line-height: 1.8rem;

    a {
      display: block;

      @media screen and (min-width: $bp-small) {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}
