// ----- Base styles
html,
button,
input,
select,
textarea {
  color: $c-body;
  font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.013em;
  line-height: 1.375em;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
}

body {
  background-color: $c-background;
  height: 100%;

  &::after {
    background: transparent url("../images/background.jpg") no-repeat top center;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.1em;
}

h2 {
  font-size: 1.8em;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

h3 {
  font-size: 1.125em;
  padding-bottom: 1em;
}

ul {
  list-style: disc;
  padding-bottom: 1em;
}

p {
  padding-bottom: 1em;
}

strong {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

video {
  height: auto !important;
  width: 100% !important;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

a:link,
a:active,
a:visited {
  color: $c-body;
  text-decoration: underline;
  transition: all 0.2s ease;
}

a:hover,
a:focus {
  color: $c-secondary;
  outline: 0;
}
